.center {
     text-align: center;
}

.logo {
     width: 256px;
     margin-bottom: 32px;
}

.chat-panel {
     display: none;
}

#msg_list {
     max-height: 200px;
     height: 200px;
     display: block;
     overflow-y: scroll;
}
