html,
body {
	height: 100%;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	background-color: #F8F8F8;
}

.center {
	text-align: center;
}


#chatbody {
     height: 100%;
	display: none;
}

#msg_list {
	height: calc(100% - 4em);
     margin-top: 1em;
     padding: 0 2em;
	display: block;
	overflow-y: scroll;
     list-style: none;
}

#msg_list li {
     min-height: 3em;
}

#msg_list li img {
	max-width: 48px;
	max-height: 48px;
	border-radius: 10%;
}

#msg_list em {
     color: #888;
     font-size: 0.8em;
}

#sidebar {
	float: left;
	width: 250px;
	height: 100%;
	background-color: #36393E;
	color: #f3f3f3;
}

#sidebar header,
#sidebar footer {
	background-color: #282b30;
	height: 4em;
	line-height: 4em;
}

#sidebar header {
	padding: 0 0.5em 0 1em;
}

#sidebar header span {
	font-size: 1.2em;
	font-weight: bold;
}

#sidebar header img {
	width: 48px;
	float: right;
	margin: 0.25em 0;
	border: 1px solid #888;
	border-radius: 10%;
}

#sidebar footer {
	text-align: center;
     color: #778899;
}

#sidebar section {
	height: calc(100% - 8em);
	overflow:scroll;
	overflow-x: hidden;
}

main {
	background-color: white;
	padding-left: 250px;
}

main header {
	height: 4em;
	line-height: 4em;
     padding: 0 1em;
     border-bottom: 1px solid #CCC;
}

main header img {
     height: 3em;
}

main section {
	height: calc(100vh - 8em);
}

#form-input {
	height: 3em;
	padding: 0 1em;
}

#login-panel {
	width: 640px;
	margin: 2em auto;
     padding: 2em;
     background-color: white;
}

#login-panel img {
     width: 256px;
}

.userlist {
	list-style: none;
	padding: 1em 0 0 1em;
}

.userlist li {
	color: #888;
	height: 2em;
	line-height: 2em;
	font-style: italic;
}

.bull {
	display: inline-block;
	border-radius: 100%;
	background-color: #888;
	width: 10px;
	height: 10px;
	margin-right: 0.5em;
}

li.user_online {
	font-style: normal;
	color: #DDD;
}

.bull_online {
	background-color: #00AA00;
}

.msg_avatar, .msg_content {
     display: inline-table;
     vertical-align: top;
}

.msg_content {
     padding: 0 1em;
}

.emoticon {
	width: 32px;
	height: 32px;
}
main #emoticon{
	display: none;
	position: absolute;

}
#emo{
	position: absolute;
	right: 20px;
	bottom: 10px;
	background: none;
	border: none;
	font-size: 1.5em;
}

#emoticon {
	position: absolute;
	background: #FFF;
	padding: 1em;
	border-radius: 10px;
	border: 1px solid #CCC;
	width: 400px;
	height: 300px;
	right: 2em;
	bottom: 4em;
	text-align: center;
}

#emoticon img {
	margin: 0.25em;
}
